@use '../../scss/abstracts/'as *;

.usr__info {
  @include flex(center, flex-start);
  background-color: $mainBg;
  border-radius   : $borderRadius;
  height          : 50px;
  width           : max-content;

  &__img {
    width        : 50px;
    height       : 50px;
    border-radius: $borderRadius;

    img {
      border-radius: $borderRadius;

    }
  }

  &__name {
    padding    : 0 $spacing;
    font-size  : $fontSizeMedium;
    font-weight: 700;

    @include tablet {
      padding: 0 $mobileSpacing;
    }
  }
}