@use '../../scss/abstracts/'as *;

.topnav {
  @include flex(center, space-between);
  margin-bottom: $spacing;

  @include tablet {
    margin-bottom: $mobileSpacing;
  }
}

.sidebar-toggle {
  @include flex(center, center);
  width  : 40px;
  height : 40px;
  cursor : pointer;
  display: none;

  @include tablet {
    display: flex;
  }

}