@use '../../scss/abstracts/'as *;
@use 'sass:math';

.sidebar {
  @include flex(stretch, flex-start);
  flex-direction           : column;
  color                    : $txtColor;
  width                    : $sideBarWidth;
  background-color         : $mainBg;
  height                   : 100vh;
  position                 : fixed;
  top                      : 0;
  z-index                  : 100;
  border-top-right-radius   : $borderRadius;
  border-bottom-right-radius: $borderRadius;

  &__logo {
    &__close {
      @include tablet {
        display: block;
      }
    }
  }

  &__menu {
    @include flex(stretch, flex-start);
    flex-direction: column;
    flex-grow     : 1;

    &__item {
      @include flex(center, flex-start);
      position     : relative;
      margin-bottom: 1rem;
      padding-left : 20%;
      transition   : color 0.3s ease-in-out;

      &:hover {
        color: $mainColor;
      }

      &.active {
        font-weight: 700;
        color      : $mainColor;

        &:before {
          content                   : '';
          position                  : absolute;
          height                    : 100%;
          width                     : 5px;
          background-color          : $mainColor;
          top                       : 0;
          left                      : 0;
          border-top-right-radius   : 20px;
          border-bottom-right-radius: 20px;
        }
      }

      &:last-child {
        margin-top: auto;
        cursor    : pointer;
      }

    }
  }

}